@model GerenciamentoDeClientes.Models.Pessoas.CadastrarViewModel

<h5>Cadastrar Cliente</h5>

<form action="/pessoas/cadastrar" method="post">
  <div class="mb-3">
    <label class="form-label">Nome</label>
    <input type="text" class="form-control" name="nome" required>
        @if (Model.NomeError != null)
        {
            <span style="color:red">@Model.NomeError</span>
            <span style='color:red'>O digitado foi: '@Model.Nome'</span>
        }
    </div>
  <div class="mb-3">
    <label class="form-label">CPF</label>
    <input type="text" class="form-control" name="cpf" required>
        @if (Model.CpfError != null)
        {
            <span style="color:red">@Model.CpfError</span>  
            <span style='color:red'>O digitado foi: '@Model.Cpf'</span>
            
        }
    </div>
  <div class="mb-3">
    <label class="form-label">Data de Nascimento</label>
    <input type="date" format="dd-mm-yyyy" class="form-control" name="dataNascimento" required>
        @if (Model.DataNascimentoError != null)
        {
            <span style="color:red">@Model.DataNascimentoError</span>   
            <span style='color:red'>O digitado foi: '@Model.DataNascimento'</span>            
        }
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>